ul.heroes
    li([class.selected]="hero === selectedHero", *ngFor="let hero of heroes", (click)="onSelect(hero)")
        span.badge {{hero.id}}
        |   {{hero.name}}
my-hero-detail([hero]="selectedHero")
