h1 {{title}}
h3 My Heroes
ul.heroes
    li( *ngFor="let hero of heroes")
        span.badge {{hero.id}}
        |   {{hero.name}}
h2 {{hero.name}} details!
div
    label id:
    |    {{hero.id}}
div
    label name:
    input#heroName([(ngModel)]="hero.name" type="text" placeholder="name" )

